<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>
<span th:if="${product == 0}">Product is null</span>
    <table border="1" class="table table-hover">
        <tr>
            <td>Id</td>
            <td th:text="${product.id}">Id</td>
        </tr>
        <tr>
            <td>Title</td>
            <td th:text="${product.name}">Title</td>
        </tr>
        <tr>
            <td>Price</td>
            <td th:text="${product.price}">10.22</td>
        </tr>
        <tr>
            <td>Link</td>
            <td><a th:href="@{/products/delete?(id=${product.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>